<article>
  <div class="container">
    <ul class="nav nav-tabs inverse">
      <li class="active"><a href="#new" data-toggle="tab"><span class="glyphicon glyphicon-tags"></span> 新着</a></li>
      <li><a href="#animeList" data-toggle="tab"><span class="glyphicon glyphicon-film"></span> アニメ一覧</a></li>
      <li><a href="#comicList" data-toggle="tab"><span class="glyphicon glyphicon-book"></span> 漫画一覧</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade in active" id="new">
        <div class="row2">
          <p class="row2-caption">ハチ MV「ドーナツホール」 HACHI/DONUT HOLE</p>
          <iframe width="560" height="315" src="http://www.youtube.com/embed/qnX2CdOBcDI" frameborder="0" allowfullscreen></iframe>
        </div>

        <div id="newList">
          <!-- [New Table Contents] -->
        </div>

        <div class="row2">
          <p class="row2-caption">videoTitle</p>
          <div class="slider multiple-items">
            <div>
              <figure>
                <a href="./videos/videoTitle/01.mp4">
                  <img src="https://dl.dropboxusercontent.com/u/16268979/streaming/capture/videos/videoTitle/01/thumb00.jpg">
                </a>
                <figcaption>
                  <a href="./videos/videoTitle/01.mp4">01</a>
                </figcaption>
              </figure>
            </div>
            <div>
              <figure>
                <a href="./videos/videoTitle/02.mp4">
                  <img src="https://dl.dropboxusercontent.com/u/16268979/streaming/capture/videos/videoTitle/02/thumb00.jpg">
                </a>
                <figcaption>
                  <a href="./videos/videoTitle/02.mp4">02</a>
                </figcaption>
              </figure>
            </div>
            <div>
              <figure>
                <a href="./videos/videoTitle/03.mp4">
                  <img src="https://dl.dropboxusercontent.com/u/16268979/streaming/capture/videos/videoTitle/03/thumb00.jpg">
                </a>
                <figcaption>
                  <a href="./videos/videoTitle/03.mp4">03</a>
                </figcaption>
              </figure>
            </div>
            <div>
              <figure>
                <a href="./videos/videoTitle/04.mp4">
                  <img src="https://dl.dropboxusercontent.com/u/16268979/streaming/capture/videos/videoTitle/04/thumb00.jpg">
                </a>
                <figcaption>
                  <a href="./videos/videoTitle/04.mp4">04</a>
                </figcaption>
              </figure>
            </div>
            <div>
              <figure>
                <a href="./videos/videoTitle/05.mp4">
                  <img src="https://dl.dropboxusercontent.com/u/16268979/streaming/capture/videos/videoTitle/05/thumb00.jpg">
                </a>
                <figcaption>
                  <a href="./videos/videoTitle/05.mp4">05</a>
                </figcaption>
              </figure>
            </div>
            <div>
              <figure>
                <a href="./videos/videoTitle/06.mp4">
                  <img src="https://dl.dropboxusercontent.com/u/16268979/streaming/capture/videos/videoTitle/06/thumb00.jpg">
                </a>
                <figcaption>
                  <a href="./videos/videoTitle/06.mp4">06</a>
                </figcaption>
              </figure>
            </div>
            <div>
              <figure>
                <a href="./videos/videoTitle/07.mp4">
                  <img src="https://dl.dropboxusercontent.com/u/16268979/streaming/capture/videos/videoTitle/07/thumb00.jpg">
                </a>
                <figcaption>
                  <a href="./videos/videoTitle/07.mp4">07</a>
                </figcaption>
              </figure>
            </div>
            <div>
              <figure>
                <a href="./videos/videoTitle/08.mp4">
                  <img src="https://dl.dropboxusercontent.com/u/16268979/streaming/capture/videos/videoTitle/08/thumb00.jpg">
                </a>
                <figcaption>
                  <a href="./videos/videoTitle/08.mp4">08</a>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>

        <div class="row2">
          <p class="row2-caption">VideoTitle2</p>
          <div class="slider multiple-items">
            <div>
              <figure>
                <a href="./videos/videoTitle/01.mp4">
                  <img src="https://dl.dropboxusercontent.com/u/16268979/streaming/capture/videos/videoTitle/01/thumb00.jpg">
                </a>
                <figcaption>
                  <a href="./videos/videoTitle/01.mp4">01</a>
                </figcaption>
              </figure>
            </div>
            <div>
              <figure>
                <a href="./videos/videoTitle/02.mp4">
                  <img src="https://dl.dropboxusercontent.com/u/16268979/streaming/capture/videos/videoTitle/02/thumb00.jpg">
                </a>
                <figcaption>
                  <a href="./videos/videoTitle/02.mp4">02</a>
                </figcaption>
              </figure>
            </div>
            <div>
              <figure>
                <a href="./videos/videoTitle/03.mp4">
                  <img src="https://dl.dropboxusercontent.com/u/16268979/streaming/capture/videos/videoTitle/03/thumb00.jpg">
                </a>
                <figcaption>
                  <a href="./videos/videoTitle/03.mp4">03</a>
                </figcaption>
              </figure>
            </div>
            <div>
              <figure>
                <a href="./videos/videoTitle/04.mp4">
                  <img src="https://dl.dropboxusercontent.com/u/16268979/streaming/capture/videos/videoTitle/04/thumb00.jpg">
                </a>
                <figcaption>
                  <a href="./videos/videoTitle/04.mp4">04</a>
                </figcaption>
              </figure>
            </div>
            <div>
              <figure>
                <a href="./videos/videoTitle/05.mp4">
                  <img src="https://dl.dropboxusercontent.com/u/16268979/streaming/capture/videos/videoTitle/05/thumb00.jpg">
                </a>
                <figcaption>
                  <a href="./videos/videoTitle/05.mp4">05</a>
                </figcaption>
              </figure>
            </div>
            <div>
              <figure>
                <a href="./videos/videoTitle/06.mp4">
                  <img src="https://dl.dropboxusercontent.com/u/16268979/streaming/capture/videos/videoTitle/06/thumb00.jpg">
                </a>
                <figcaption>
                  <a href="./videos/videoTitle/06.mp4">06</a>
                </figcaption>
              </figure>
            </div>
            <div>
              <figure>
                <a href="./videos/videoTitle/07.mp4">
                  <img src="https://dl.dropboxusercontent.com/u/16268979/streaming/capture/videos/videoTitle/07/thumb00.jpg">
                </a>
                <figcaption>
                  <a href="./videos/videoTitle/07.mp4">07</a>
                </figcaption>
              </figure>
            </div>
            <div>
              <figure>
                <a href="./videos/videoTitle/08.mp4">
                  <img src="https://dl.dropboxusercontent.com/u/16268979/streaming/capture/videos/videoTitle/08/thumb00.jpg">
                </a>
                <figcaption>
                  <a href="./videos/videoTitle/08.mp4">08</a>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>  <!-- #new -->

      <div class="tab-pane fade" id="animeList">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>アニメ一覧</th>
              <th style="text-align: right;">
                <div class="btn-group">
                  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    Sort by <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Hello</a></li>
                    <li><a href="#">Hello</a></li>
                    <li><a href="#">Hello</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Hello</a></li>
                  </ul>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <!-- [Table Contents] -->
          </tbody>
        </table>
      </div>

      <div class="tab-pane fade" id="comicList">
        <p>コンテンツ2</p>
      </div>
    </div>
  </div>
</article>
