html {
  font-size: 10px;
}

a, a:link, a:visited, a:hover, a:active {
  /*color: brown;*/
}

body {
  overflow: scroll;
  backgroud-color: #000000;
  // background-color: #f1f1f1;
  /*background-color: #f0efe7;*/
}

header, footer {
  text-shadow: 5px 5px 1px #444;
  font-size: 36px;
  background-color: #141414;
  color: #fff;
}

header p:first-letter, footer p:first-letter {
  font-size: 7rem;
  /*font-style: italic;*/
}

header {
  border-bottom: 1.2rem solid #eee;
}

footer {
  border-top: 10rem solid #eee;
}

#new img {
  width: 18rem;
  height: 10rem;
}

article div.container {
  background-color: white;
}

.nav-tabs {
  font-weight: bolder;
}

.tab-pane {
  padding-top: 1.2rem;
}

.row2 {
  border-bottom: 3px dotted #888;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.row2-caption {
  font-weight: bold;
  border-left: 7px solid brown;
  padding: 3px 0px 3px 12px;
}
