/*.form-signin-github {
  margin-top: 65px
}*/
/*media="all"*/
body, input, button, select, textarea {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*media="all"*/
body, label, input, button, select, textarea {
font-size: 14px;
line-height: 1.4;
}
/*p {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}*/

/*media="all"*/
/** {
-moz-box-sizing: border-box;
box-sizing: border-box;
}*/

[class^="btn"] {
  display:inline-block;
  margin:0;
  padding:10px 15px;
  font-weight:700;
  line-height:1;
  color:#333;
  text-align:center;
  text-shadow:0 1px 0 rgba(255,255,255,0.75);
  text-decoration: none;
  background-color:#eee;
  background-image:-moz-linear-gradient(#fff,#eee);
  background-image:-webkit-linear-gradient(#fff,#eee);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='white',endColorstr='#eeeeee')";
  background-repeat:repeat-x;
  border:1px solid #c5c5c5;
  border-radius:4px;
  box-shadow:inset 0 1px 1px rgba(255,255,255,0.25),0 1px 2px rgba(0,0,0,0.05);
  cursor:pointer;
  vertical-align:middle
}

[class^="btn"]:hover {
  text-decoration:none;
  background-position:0 -15px
}

[class^="btn"]:active,[class^="btn"].active {
  background-image:none;
  box-shadow:inset 0 2px 4px rgba(0,0,0,0.2),0 1px 2px rgba(0,0,0,0.05)
}

.btn-small {
  font-size:12px;
  padding:5px 10px
}

.btn-large {
  padding:14px 20px;
  font-size:20px;
  border-radius:6px
}

[class^="btn"].disabled {
  background-image:none;
  box-shadow:none;
  opacity:.5;
  cursor:default
}

.btn-primary {
  color:#fff;
  text-shadow:0 -1px 0 rgba(0,0,0,0.25);
  background-color:#1d6ac8;
  background-image:-moz-linear-gradient(#45b3f3,#1d6ac8);
  background-image:-webkit-linear-gradient(#45b3f3,#1d6ac8);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#45b3f3',endColorstr='#1d6ac8')";
  border-color:#1d6ac8 #1d6ac8 #1a5eb2
}

.btn-primary:active {
  border-color:#17529b
}

.btn-success,.vision-box.green {
  color:#fff;
  text-shadow:0 -1px 0 rgba(0,0,0,0.25);
  background-color:#60b044;
  background-image:-moz-linear-gradient(#8add6d,#60b044);
  background-image:-webkit-linear-gradient(#8add6d,#60b044);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#8add6d',endColorstr='#60b044')";
  border-color:#74bb5a #74bb5a #509338
}

.btn-danger,.vision-box.red {
  color:#fff;
  text-shadow:0 -1px 0 rgba(0,0,0,0.25);
  background-color:#b33630;
  background-image:-moz-linear-gradient(#cd5f59,#b33630);
  background-image:-webkit-linear-gradient(#cd5f59,#b33630);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#cd5f59',endColorstr='#b33630')";
  border-color:#cd504a
}

.btn-link {
  color:#4281ca;
  text-shadow:none;
  background-image:none;
  background-color:transparent;
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(enabled = false)";
  border-color:#e5e5e5;
  box-shadow:none
}

.btn-link:hover {
  color:#fff;
  background-color:#4281ca;
  border-color:#4281ca
}

.btn-link:active {
  border-color:#3068a9
}

[class^="btn"] [class^="octicon-"] {
  vertical-align:-1px
}

.help-page .minibutton {
  position:relative;
  display:inline-block;
  padding:0 10px;
  color:#333;
  font-family:helvetica,arial,freesans,clean,sans-serif;
  font-size:13px;
  font-weight:700;
  line-height:24px;
  text-shadow:0 1px 0 #fff;
  white-space:nowrap;
  border:1px solid #d4d4d4;
  border-bottom-color:#bcbcbc;
  border-radius:3px;
  background-color:#eaeaea;
  background-image:-moz-linear-gradient(#fafafa,#eaeaea);
  background-image:-webkit-linear-gradient(#fafafa,#eaeaea);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#eaeaea')";
  cursor:pointer;
  user-select:none;
  -webkit-user-select:none;
  -moz-user-select:none
}

.help-page .minibutton i {
  font-weight:500;
  font-style:normal;
  opacity:.6
}

.help-page .minibutton.danger {
  color:#900
}

.help-page .minibutton.danger:hover {
  color:#fff;
  text-shadow:0 -1px 0 rgba(0,0,0,0.3);
  border-color:#d4d4d4;
  background-color:#b33630;
  background-image:-moz-linear-gradient(#dc5f59,#b33630);
  background-image:-webkit-linear-gradient(#dc5f59,#b33630);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#dc5f59',endColorstr='#b33630')"
}

.help-page .minibutton.danger.mousedown {
  border-color:#a0302a;
  border-bottom-color:#c65651;
  background-color:#dc5f59;
  background-image:-moz-linear-gradient(#b33630,#dc5f59);
  background-image:-webkit-linear-gradient(#b33630,#dc5f59);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#b33630',endColorstr='#dc5f59')"
}

.help-page .minibutton.green {
  color:#fff;
  text-shadow:0 -1px 0 rgba(0,0,0,0.3);
  background-color:#28881b;
  background-image:-moz-linear-gradient(#36b825,#28881b);
  background-image:-webkit-linear-gradient(#36b825,#28881b);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#36b825',endColorstr='#28881b')";
  border-color:#4a993e
}

.help-page .minibutton.blue {
  color:#fff;
  text-shadow:0 -1px 0 rgba(0,0,0,0.3);
  border-color:#275666;
  background-color:#32687b;
  background-image:-moz-linear-gradient(#448da6,#32687b);
  background-image:-webkit-linear-gradient(#448da6,#32687b);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#448da6',endColorstr='#32687b')"
}

.help-page .minibutton.mousedown {
  color:#fff;
  text-shadow:0 -1px 0 rgba(0,0,0,0.3);
  border-color:#2a65a0;
  border-bottom-color:#518cc6;
  background-color:#599bdc;
  background-image:-moz-linear-gradient(#3072b3,#599bdc);
  background-image:-webkit-linear-gradient(#3072b3,#599bdc);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#3072b3',endColorstr='#599bdc')"
}

.help-page .minibutton.selected {
  color:#fff;
  text-shadow:0 -1px 0 rgba(0,0,0,0.5);
  border-color:#686868;
  background-color:#9e9e9e;
  background-image:-moz-linear-gradient(#767676,#9e9e9e);
  background-image:-webkit-linear-gradient(#767676,#9e9e9e);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#767676',endColorstr='#9e9e9e')"
}

.help-page .minibutton:hover {
  color:#fff;
  text-decoration:none;
  text-shadow:0 -1px 0 rgba(0,0,0,0.3);
  border-color:#518cc6;
  border-bottom-color:#2a65a0;
  background-color:#3072b3;
  background-image:-moz-linear-gradient(#599bdc,#3072b3);
  background-image:-webkit-linear-gradient(#599bdc,#3072b3);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bdc',endColorstr='#3072b3')"
}

.help-page .minibutton:hover.btn-windows .icon {
  background-position:-17px 3px
}

.help-page .minibutton:disabled,.help-page .minibutton.disabled {
  opacity:.5;
  cursor:default
}

.row {
  margin-left:-10px;
  margin-right:-10px
}

.row:after {
  content:"";
  display:table;
  clear:both
}
