article
  .container-fluid
    .row
      .col-lg-1.col-md-1
      .col-lg-10.col-md-10
        h1
          | Welcome!
        p.form-signin-github
          = link_to content_tag( :span, "", :class => "octicon octicon-mark-github" ) + " Sign in via Github",
                                  user_omniauth_authorize_path(:github),
                                  :class => "btn",
                                  :id => "oauth"
      .col-lg-1.col-md-1
