<footer>
  <div class="container">
    <p>index of Cloud &#128048;
    <div id="user-info">
      <!--<% if user_signed_in? %>-->
        <%= current_user.name %>
        [<%= link_to 'Sign out', destroy_user_session_path, method: :get  %>]
      <!--<% else %>-->
        <!--<%= link_to 'Sign in with Github', user_omniauth_authorize_path(:github) %>-->
      <!--<% end %>-->
    </div>
    </p>
  </div>
</footer>
